PROYECTO PRACTICO

In [31]:
#Importar librerias 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [32]:
#Carga del Data Set
df_car=pd.read_csv("car_evaluation.csv", header=None)
df_car

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

EXPLORACIÓN DE DATOS

In [33]:
#Visualizar el dataframe
df_car.head(5)

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [34]:
#Tamaño del dataframe
print(df_car.shape)

(1728, 7)

In [35]:
#Asignamos nombres a las columnas
col_names=["buying","maint","doors","persons","lug_boot","safety","class"]
df_car.columns=col_names
df_car.head(5)

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [36]:
#Visualizar tipos de datos
df_car.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class       object
dtype: object

Hay 7 variables en el conjunto de datos, todas las variables son tipo de datos categoricos
Las variables: compra, mantenimiento, puertas, personas, lug_boot, seguridad y clase
La clase es la variable target

In [37]:
#Detalle de la varible target
df_car["class"].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [38]:
#Ver si hay valores null
df_car.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

PROCESAMIENTO DE DATOS

In [39]:
#Separacion de X y Y
X=df_car.drop(["class"], axis=1) #Borra la variable target y deja las demas
Y=df_car["class"] #Se asigna class a Y

In [40]:
#importamos librerias para la creacion de modelos
from sklearn.model_selection import train_test_split

#30% de los datos es para el test y 70% para train

X_train, X_test, Y_train , Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [42]:
#Verifiquemos que tenemos 
X_train.shape, X_test.shape

((1209, 6), (519, 6))

In [44]:
#Detalle 
X_train.head(5)

     buying maint  doors persons lug_boot safety
1178    med   med  5more       4      big   high
585    high  high      3    more    small    low
1552    low   med      3       4      med    med
1169    med   med  5more       2      big   high
1033    med  high      4       2      big    med

In [43]:
Y_train.shape, Y_test.shape

((1209,), (519,))

In [45]:
#Detalle 
Y_train.head(5)

1178    vgood
585     unacc
1552      acc
1169    unacc
1033    unacc
Name: class, dtype: object